<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272276735977-ag837jlpot9ls35idsml5nf2ep38a1lb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272276735977-ag837jlpot9ls35idsml5nf2ep38a1lb</string>
	<key>API_KEY</key>
	<string>AIzaSyApyGCB4NmT5JgIoGqb2UEukFLsH6cGTWo</string>
	<key>GCM_SENDER_ID</key>
	<string>272276735977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danillevadsky.flutterNotes</string>
	<key>PROJECT_ID</key>
	<string>flutter-notes-c2daf</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-notes-c2daf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272276735977:ios:3e3fed5df97c4d7ba6ed78</string>
</dict>
</plist>